@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #images {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    
    #experience,
    .experience-details-container {
      margin-top: 1rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 900px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    #about {
      margin-top: 8rem;
    }
    #experience {
      margin-top: -3rem;
    }

    #images {
      margin-bottom: -3rem;
    }

    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }

    .section__text__p1-about {
      padding-top: 0rem;
      margin-top: 0rem;
    }

    .section__text__p1 {
      margin-top: 0rem;
    }

    .title {
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }

    .x-experience-containers, 
    .experience-containers, 
    .details-container {
        flex-direction: column;
        align-items: center;
    }

    .details-container {
      margin-top: 0rem;
    }

    .btn-learn-about_1_,
    .btn-learn-about_2_ {
        width: auto;
        height: 46vw;
        justify-content: center;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    ._1_details-container, 
    ._2_details-container {
        justify-content: center;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .info-x {
      margin-bottom: 0rem;
      padding: 0rem;
    }

    .details-container-half-left, 
    .details-container-half-right{
      padding: 1.5rem;
      margin-bottom: 0.5rem;
      width: auto;
      flex: 1;
      margin-right: 0rem;
      margin-left: 0rem;
    }

    .details-container-bottom-left{
      margin-top: -1.1rem;
      padding: 0rem;
      flex: 1;
      text-align: center;
      margin-right: 0rem;
    }

    .btn-take-a-look-github{
      padding: 0.45rem;
      width: auto;
      border-radius: 2rem;
    }

    .half-details-container {
      display: flex;
      padding: 0rem;
    }

    .about-containers {
      padding-bottom: 2rem;
      gap: 2rem;
      margin-bottom: 0rem;
      margin-top: 0rem;
  }

    .arrow-about-me {
      position: absolute;
      right: 0rem;
      bottom: 5rem;
    }

    .arrow-experience {
      position: absolute;
      right: 0rem;
      bottom: 3rem;
    }

    .contact-icon {
      width: 50px;
      height: 50px;
    }

    .contact-info-upper-container {
      padding: 0.6rem;
    }
    







    .images-experience-sub-title {
      padding-top: 0.5rem;
      padding-bottom: 4.5rem;
      color: rgb(136, 136, 136);
      font-weight: 600;
      font-size: 2.3rem;
    }

    .container {
      width: 100%;
      height: 100%;
      margin-top: 2rem;
      transform-style: preserve-3d;
      justify-content: center;
      flex-direction: column;
      }
      
      .cards {
          position: relative;
          width: 100%;
          height: 200px;
          margin-bottom: 20px;
      }
      
      .imgRoll {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: transparent 0.4rem solid;
          transition: all 600ms ease;
          cursor: pointer;
      }
      
      .arrow-right-img-carousel {
        rotate: 90deg;
          height: 20%;
          width: 9%;
          position: absolute;
          padding-left: 20%;
          cursor: pointer;
          transition: all 900ms ease;
      }
      .arrow-left-img-carousel {
          rotate: 90deg;
          height: 20%;
          width: 9%;
          position: absolute;
          padding-right: 25%;
          padding-top: 0%;
          cursor: pointer;
          transition: all 900ms ease;
      }
  
    #item-1:checked ~ .cards #image-3, .cards #image-4, .cards #image-5, .cards #image-6, .cards #image-7, .cards #image-8, .cards #image-9,
    #item-2:checked ~ .cards #image-4, .cards #image-5, .cards #image-6, .cards #image-7, .cards #image-8, .cards #image-9, .cards #image-10,
    #item-3:checked ~ .cards #image-5, .cards #image-6, .cards #image-7, .cards #image-8, .cards #image-9, .cards #image-10, .cards #image-1,
    #item-4:checked ~ .cards #image-6, .cards #image-7, .cards #image-8, .cards #image-9, .cards #image-10, .cards #image-1, .cards #image-2,
    #item-5:checked ~ .cards #image-7, .cards #image-8, .cards #image-9, .cards #image-10, .cards #image-1, .cards #image-2, .cards #image-3,
    #item-6:checked ~ .cards #image-8, .cards #image-9, .cards #image-10, .cards #image-1, .cards #image-2, .cards #image-3, .cards #image-4,
    #item-7:checked ~ .cards #image-9, .cards #image-10, .cards #image-1, .cards #image-2, .cards #image-3, .cards #image-4, .cards #image-5,
    #item-8:checked ~ .cards #image-10, .cards #image-1, .cards #image-2, .cards #image-3, .cards #image-4, .cards #image-5, .cards #image-6,
    #item-9:checked ~ .cards #image-1, .cards #image-2, .cards #image-3, .cards #image-4, .cards #image-5, .cards #image-6, .cards #image-7,
    #item-10:checked ~ .cards #image-2, .cards #image-3, .cards #image-4, .cards #image-5, .cards #image-6, .cards #image-7, .cards #image-8
    {
        transform: translateY(0) scale(0);
        opacity: .4;
        z-index: 0;
    }

    #item-1:checked ~ .cards #image-10, 
    #item-2:checked ~ .cards #image-1, 
    #item-3:checked ~ .cards #image-2,
    #item-4:checked ~ .cards #image-3,
    #item-5:checked ~ .cards #image-4,
    #item-6:checked ~ .cards #image-5,
    #item-7:checked ~ .cards #image-6,
    #item-8:checked ~ .cards #image-7,
    #item-9:checked ~ .cards #image-8,
    #item-10:checked ~ .cards #image-9 {
        transform: translateY(-46%) scale(.8);
        opacity: .5;
        z-index: 0;
        .imgRoll:hover {
            transform: translateY(-3.2%) scale(1.02);
            --d: 6000ms;
            --c1: rgb(210, 49, 49)
        }
        .imgRoll {
            border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
            animation: borderRotate var(--d) linear infinite forwards;
        }
        .arrow-right-img-carousel{
            transform: translatex(3.2%) scale(0);
        }
        .arrow-left-img-carousel{
            transform: translatex(3.2%) scale(1);
        }
    }

    #item-1:checked ~ .cards #image-2, 
    #item-2:checked ~ .cards #image-3, 
    #item-3:checked ~ .cards #image-4,
    #item-4:checked ~ .cards #image-5,
    #item-5:checked ~ .cards #image-6,
    #item-6:checked ~ .cards #image-7,
    #item-7:checked ~ .cards #image-8, 
    #item-8:checked ~ .cards #image-9, 
    #item-9:checked ~ .cards #image-10,
    #item-10:checked ~ .cards #image-1
    {
        transform: translateY(46%) scale(.8);
        opacity: .5;
        z-index: 0;
        .imgRoll:hover {
            transform: translateY(3.2%) scale(1.02);
            --d: 6000ms;
            --c1: rgb(210, 49, 49)
        }
        .imgRoll {
            border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
            animation: borderRotate var(--d) linear infinite forwards;
        }
        .arrow-right-img-carousel{
            transform: translatex(3.2%) scale(1);
        }
        .arrow-left-img-carousel{
            transform: translatex(3.2%) scale(0);
        }
    }

    #item-1:checked ~ .cards #image-1, 
    #item-2:checked ~ .cards #image-2, 
    #item-3:checked ~ .cards #image-3,
    #item-4:checked ~ .cards #image-4,
    #item-5:checked ~ .cards #image-5,
    #item-6:checked ~ .cards #image-6,
    #item-7:checked ~ .cards #image-7,
    #item-8:checked ~ .cards #image-8, 
    #item-9:checked ~ .cards #image-9,
    #item-10:checked ~ .cards #image-10
    {
        transform: translateY(0) scale(1);
        opacity: 1;
        z-index: 1;
        justify-content: center;
        .imgRoll {
            border-radius: 1.5rem;
            cursor: default;
        }
        .arrow-left-img-carousel, .arrow-right-img-carousel {
            transform: translatex(3.2%) scale(0);
        }
    }

    .imageInfo {
      background-color: rgb(48, 48, 48);
      margin-top: 5rem;
      border-radius: 8px;
      min-width: 320px;
      padding: 16px 10px;
      height: 3rem;
      width: 20%;
      border: #cecece 0.1rem solid;
  }
  
  .upper-part {
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;
      overflow: hidden;
  }
  
  .image-details .title {
      color: #dadada;
      font-size: 1.3rem;
      line-height: 25px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
  }
  
  .info-area {
      width: 100%;
      position: absolute;
      top: 0;
      transition: transform 0.8s ease;
  }
  

    #item-1:checked ~ .imageInfo #test{
        transform: translateY(0);
    }
    #item-2:checked ~ .imageInfo #test{
        transform: translateY(-52px);
    }
    #item-3:checked ~ .imageInfo #test{
        transform: translateY(-100px);
    }
    #item-4:checked ~ .imageInfo #test{
        transform: translateY(-150px);
    }
    #item-5:checked ~ .imageInfo #test{
        transform: translateY(-200px);
    }
    #item-6:checked ~ .imageInfo #test{
        transform: translateY(-250px);
    }
    #item-7:checked ~ .imageInfo #test{
        transform: translateY(-300px);
    }
    #item-8:checked ~ .imageInfo #test{
        transform: translateY(-350px);
    }
    #item-9:checked ~ .imageInfo #test{
        transform: translateY(-400px);
    }
    #item-10:checked ~ .imageInfo #test{
        transform: translateY(-450px);
    }

  }