@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #images {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    
    #experience,
    .experience-details-container {
      margin-top: 1rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 900px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    #about {
      margin-top: 8rem;
    }
    #experience {
      margin-top: -3rem;
    }

    #images {
      margin-bottom: -3rem;
    }

    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }

    .section__text__p1-about {
      padding-top: 0rem;
      margin-top: 0rem;
    }

    .section__text__p1 {
      margin-top: 0rem;
    }

    .title {
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }

    .x-experience-containers, 
    .experience-containers, 
    .details-container {
        flex-direction: column;
        align-items: center;
    }

    .details-container {
      margin-top: 0rem;
    }

    .btn-learn-about_1_,
    .btn-learn-about_2_ {
        width: auto;
        height: 46vw;
        justify-content: center;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    ._1_details-container, 
    ._2_details-container {
        justify-content: center;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .info-x {
      margin-bottom: 0rem;
      padding: 0rem;
    }

    .details-container-half-left, 
    .details-container-half-right{
      padding: 1.5rem;
      margin-bottom: 0.5rem;
      width: auto;
      flex: 1;
      margin-right: 0rem;
      margin-left: 0rem;
    }

    .details-container-bottom-left{
      margin-top: -1.1rem;
      padding: 0rem;
      flex: 1;
      text-align: center;
      margin-right: 0rem;
    }

    .btn-take-a-look-github{
      padding: 0.45rem;
      width: auto;
      border-radius: 2rem;
    }

    .half-details-container {
      display: flex;
      padding: 0rem;
    }

    .about-containers {
      padding-bottom: 2rem;
      gap: 2rem;
      margin-bottom: 0rem;
      margin-top: 0rem;
  }

    .arrow-about-me {
      position: absolute;
      right: 0rem;
      bottom: 5rem;
    }

    .arrow-experience {
      position: absolute;
      right: 0rem;
      bottom: 3rem;
    }

    .contact-icon {
      width: 50px;
      height: 50px;
    }

    .contact-info-upper-container {
      padding: 0.6rem;
    }

    #item-1:checked ~ .imageInfo #test{
        transform: translateY(0);
    }
    #item-2:checked ~ .imageInfo #test{
        transform: translateY(-52px);
    }
    #item-3:checked ~ .imageInfo #test{
        transform: translateY(-100px);
    }
    #item-4:checked ~ .imageInfo #test{
        transform: translateY(-150px);
    }
    #item-5:checked ~ .imageInfo #test{
        transform: translateY(-200px);
    }
    #item-6:checked ~ .imageInfo #test{
        transform: translateY(-250px);
    }
    #item-7:checked ~ .imageInfo #test{
        transform: translateY(-300px);
    }
    #item-8:checked ~ .imageInfo #test{
        transform: translateY(-350px);
    }
    #item-9:checked ~ .imageInfo #test{
        transform: translateY(-400px);
    }
    #item-10:checked ~ .imageInfo #test{
        transform: translateY(-450px);
    }
  }