/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 24, 37);
    color: white;
}

html{
    scroll-behavior: smooth;
}

p {
    color:rgb(85, 85, 85)
}

/* TRANSITION */
a, .btn {
    transition: all 450ms ease;
}

/* DESKTOP NAV */
nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration: black;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-color: rgb(210, 49, 49);
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: pointer;
}

/* HAMBURGER MENU */
#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(0, 24, 37);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */
section {
    padding-top: 4vh;
    height: auto;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    margin-top: -3rem;
}

/* PROFILE SECTION */
#profile {
    display: flex;
    justify-content: center;
    gap: 8rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 450px;
    width: 450px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
    color: rgb(117, 117, 117);
}

.section__text__p1-about {
    padding-top: 3.1rem;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
    color: rgb(117, 117, 117);
}

/*Tec de Monterrey student*/
.section__text__p2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(117, 117, 117);
}

/*Jorge Enrique Sánchez Encinas*/
.title-name {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.title {
    padding-bottom: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.title-about {
    padding-bottom: 5rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */
.icon {
    cursor: pointer;
    height: 4rem;
}

/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-size: 1.25rem;
    font-weight: 600;
    transition: all 900ms ease;
    padding: 1.6rem;
    width: 14rem;
    border-radius: 4rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(125, 125, 125) 0.18rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(146, 146, 146);
    color: black;
}

.btn-color-1:hover{
    background: rgb(255, 255, 255);
}

.btn-color-2 {
    background: none;
    color: rgb(164, 164, 164);
}

.btn-color-2:hover {
    border: white 0.15rem solid;
}

.btn-container {
    gap:calc();
}

/* ABOUT SECTION */
#about {
    position: relative;
    padding-bottom: 10rem;
}

.about-containers {
    padding-bottom: 1vh;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 0.1rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 0rem;
}
.arrow-experience {
    position: absolute;
    right: -5rem;
    bottom: 5rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: black;
    border-radius: 2rem;
    border: rgb(78, 78, 78) 0.15rem solid;
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 74%;
}

.about-me-text-container {
    text-align: center;
    color: rgb(185, 185, 185);
    font-size: large;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
    padding-bottom: 8rem;
  }


/*BEGINNING _1_ and general EXPERIENCE*/
.x-experience-sub-title {
  color: rgb(136, 136, 136);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.x-experience-containers {
    gap: 1rem;
    margin-bottom: 2rem;
}
.x-experience-containers,
._1_details-container {
    display: flex;
}

.btn-learn-about_1_,
._1_details-container{
    padding: 2rem;
    flex: 0.65; 
    background: black;
    border-radius: 1.8rem;
    border: rgb(78, 78, 78) 0.15rem solid;
    margin-right: 4.5rem;
}

._1_details-container{
    font-weight: 500;
    flex: 1;
    margin-left: 4.5rem;
}

.learn-more-about-x{
    font-size: 1.5rem;
    color: rgb(145, 145, 145);
}

.btn-learn-about_1_,
.btn-learn-about_2_ {
    border: rgb(78, 78, 78) 0.18rem solid;
    font-size: 1.25rem;
    font-weight: 600;
    transition: all 900ms ease;
    padding: 1.6rem;
    width: 27rem;
    border-radius: 2rem;
}

.btn-learn-about_1_:hover,
.btn-learn-about_2_:hover {
    cursor: pointer;
    background-color: rgb(55, 55, 55);
    border-color: rgb(175, 175, 175);
}

.info-x {
    font-size: 1.18rem;
    margin-bottom: -1.5rem;
    color: rgb(145, 145, 145);
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 7rem;
    row-gap: 2rem;
    justify-content: space-around;
}

.article-container-mid {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: -5rem;
    row-gap: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    justify-content: space-around;
}

article {
    color: rgb(182, 182, 182);
    display: flex;
    width: 12.5rem;
    justify-content: space-around;
}

article .icon {
    cursor: default;
}

.experience-enlistment-text,
.experience-enlistment-text-mid-part {
    font-size: 100%;
    font-weight: 500;
}
/*END _1_ and general EXPERIENCE*/


/*BEGINNING _2_ EXPERIENCE*/
.btn-learn-about_2_,
._2_details-container{
    padding: 2rem;
    flex: 0.65; 
    background: black;
    border-radius: 1.8rem;
    border: rgb(78, 78, 78) 0.15rem solid;
    margin-left: 4.5rem;
}

._2_details-container{
    font-weight: 500;
    flex: 1;
    margin-right: 4.5rem;
}
/*END _2_ EXPERIENCE*/


/*BEGINNING Personal robotics and GPA EXPERIENCE*/
.details-container-half-left{
    padding: 1.5rem;
    width: 18rem;
    flex: 0.54;
    background: black;
    border-radius: 2rem;
    border: rgb(78, 78, 78) 0.15rem solid;
    text-align: center;
    margin-right: 1.7vh;
}

.details-container-half-right{
    padding: 1.5rem;
    flex: 1;
    background: black;
    border-radius: 2rem;
    border: rgb(78, 78, 78) 0.15rem solid;
    text-align: center;
    margin-left: 1.7vh;
}

.half-details-container {
    display: flex;
    padding: 2rem;
    flex: 0.65; 
    background: black;
    border-radius: 1.8rem;
    margin-right: 4.5rem;
    font-weight: 500;
    flex: 1;
    margin-left: 4.5rem;
    margin-top: -1.5rem;
}

.details-container-bottom-left{
    padding: 1.5rem;
    flex: 1;
    background: black;
    border-radius: 2rem;
    border: rgb(78, 78, 78) 0.15rem solid;
    text-align: center;
    margin-right: 1.7vh;
}


.btn-take-a-look-github{
    background: black;
    border-radius: 1.8rem;
    border: rgb(78, 78, 78) 0.15rem solid;

    font-size: 0.5rem;
    font-weight: 500;
    transition: all 900ms ease;
    padding: 0.45rem;
    width: 27rem;
    border-radius: 2rem;
}
.btn-take-a-look-github:hover {
    cursor: pointer;
    background-color: rgb(55, 55, 55);
    border-color: rgb(175, 175, 175);
}

.see-my-github{
    font-size: 1.5rem;
    color: rgb(145, 145, 145);
}
/*END Personal robotics and GPA EXPERIENCE*/

/* IMAGES SECTION */
.article-container-images {
    justify-content: center;
    border-radius: 1.53rem;
}

.about-pictures {
    padding: 1rem;
    height: 410px;
    width: 410px;
}

.images-details-container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
    background: black;
    border-radius: 2rem;
    border: rgb(78, 78, 78) 0.15rem solid;
    text-align: center;
}

.images-experience-sub-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(136, 136, 136);
    font-weight: 600;
    font-size: 2.3rem;
}


/*
* {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: #c394f8;
    
    &.blue {
      background-color: #428aa6;
    }
  }

  input[type=radio] {
    display: none;
  }
  
  .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
  }
  
  .container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  }
  
  .player {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
  }
  
  .upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
  }
  
  .play-icon{ margin-right: 10px; }
  
  .song-info {
    width: calc(100% - 32px);
    display: block;
  }
  
  .song-info .title {
    color: #403d40;
    font-size: 14px;
    line-height: 24px;
  }
  
  .sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .subtitle, .time {
    font-size: 12px;
    line-height: 16px;
    color: #c6c5c6;
  }
  
  .time {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-left: auto;
  }
  
  .progress-bar {
    height: 3px;
    width: 100%;
    background-color: #e9efff;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .progress {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #2992dc;
    border-radius: 6px;
  }
  
  .info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
  }
  
  #item-2:checked ~ .player #test {
    transform: translateY(0);
  }
  
  #item-2:checked ~ .player #test  {
    transform: translateY(-40px);
  }
  
  #item-3:checked ~ .player #test  {
    transform: translateY(-80px);
  }

  */
  /*https://codepen.io/aybukeceylan/pen/RwrRPoO*/